{{- $params := .Scratch.Get "params" -}}

<meta name="Description" content="{{ $params.description | default .Site.Params.description }}">

{{- partial "opengraph.html" . -}}
{{- partial "twitter_cards.html" . -}}

<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}">
{{- /* LoveIt 默认 no-referrer 会导致不蒜子 page_pv 无法区分路径，全站共用一个计数。
       启用 busuanzi 时改为 no-referrer-when-downgrade，向同安全等级的跨域请求发送完整 URL。
       参考：https://jdhao.github.io/2020/10/31/busuanzi_pv_count_error/ */ -}}
{{- if .Site.Params.busuanzi.enable -}}
<meta name="referrer" content="no-referrer-when-downgrade" />
{{- else -}}
<meta name="referrer" content="no-referrer" />
{{- end -}}
{{- with .Site.Params.app.themeColor -}}
    <meta name="theme-color" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.app.tileColor -}}
    <meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}

{{- /* Content-Security-Policy meta tag (when HTTP headers cannot be set) - see https://content-security-policy.com/examples/meta/ */ -}}
{{- with .Site.Params.security.contentSecurityPolicy -}}
    <meta http-equiv="Content-Security-Policy" content="{{ . }}">
{{- end -}}
