{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}
    {{- $recentComments := .Site.Params.home.recentComments -}}
    {{- $showRecentComments := ne $recentComments.enable false -}}

    <div class="page home{{ if $showRecentComments }} has-recent-comments{{ end }}"{{ if ne $posts.enable false }} data-home="posts"{{ end }}>
        {{- /* Profile */ -}}
        {{- if ne $profile.enable false -}}
            {{- partial "home/profile.html" . -}}
        {{- end -}}

        {{- /* Content */ -}}
        {{- if .Content -}}
            <div class="single">
                <div class="content" id="content">
                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}

        {{- /* Posts + optional recent comments sidebar */ -}}
        {{- if ne $posts.enable false | and .Site.RegularPages -}}
            {{- /* Paginate */ -}}
            {{- $pages := where .Site.RegularPages "Type" "posts" -}}
            {{- if .Site.Params.page.hiddenFromHomePage -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
            {{- else -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
            {{- end -}}
            {{- with $posts.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}

            {{- if $showRecentComments -}}
            <div class="home-layout">
                <div class="home-layout__main">
                    <div class="post-list">
                        {{- range $pages.Pages -}}
                            {{- .Render "summary" -}}
                        {{- end -}}
                    </div>
                    {{- partial "paginator.html" . -}}
                </div>
                {{- partial "home/recent-comments.html" . -}}
            </div>
            {{- else -}}
            <div class="post-list">
                {{- range $pages.Pages -}}
                    {{- .Render "summary" -}}
                {{- end -}}
            </div>
            {{- partial "paginator.html" . -}}
            {{- end -}}
        {{- end -}}
    </div>
{{- end -}}
